body {
    background-image: url( ../Images/meadow-grass.jpg );
    background-size: cover;
}


h1, p {
    text-align: center;
    color: black;
}

.titleimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center_img {
    width: 100%;
    background-color: lightpink;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 600px;
    max-height: 1000px;
   
  }

  hr {
    height: 2px;
    background-color: palevioletred;
    border-color: palevioletred;
  }

 .logo {
    width: 100px; /* Adjust width as needed */
    height: auto;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    gap: 5px; /* Adjust gap as needed */
  }